.create-edit-post {
  box-shadow: 0 1px 4px #777;
  margin-top: 30px;
  padding: 0;
}

.create-edit-post-header {
  padding: 10px 15px;
  color: #fff;
  background: #764abc;
}

.create-edit-post-header h2 {
  margin: 0;
  display: inline-block;
}

.go-back {
  float: right;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.go-back:hover {
  text-shadow: 0 0 7px yellow;
}

@media screen and (max-width: 300px) {
  .create-edit-post {
    margin-top: 0;
  }

  .create-edit-post-form {
    padding: 7px;
  }
}
