.add-post {
  box-shadow: 0 0 4px #777;
  margin-top: 30px;
  padding: 0;
}

.add-post-header {
  padding: 10px 15px;
  color: #fff;
  background: #764abc;
}

.add-post-header h2 {
  margin: 0;
}

.add-post-form {
  padding: 20px;
  text-align: center;
  background: #fff;
}

.form-field {
  display: block;
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #bbb;
}

.category-select {
  background: #fff;
}

.post-body-field {
  max-width: 100%;
  min-height: 150px;
  border: 1px solid #bbb;
}

.add-post-form button {
  padding: 5px 10px;
  font-weight: bold;
  border: none;
  color: #fff;
  background: #764abc;
  font-size: 16px;
  margin: auto;
}

.has-error {
  outline: rgba(163, 12, 12, 0.7) solid 1px;
}

@media screen and (max-width: 300px) {
  .add-post {
    margin-top: 0;
  }

  .add-post-form {
    padding: 7px;
  }
}
