.categories {
  box-shadow: 0 0 4px #777;
  margin: 25px 0;
}

.categories-header {
  padding: 15px 10px;
  text-align: center;
  color: white;
  /*background: #a30c0c;*/
  background: #764abc;
}

.categories-header h4 {
  margin: 0;
}

.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #fff;
}

.category {
  text-align: center;
  padding: 5px;
  margin-bottom: 3px;
}

.category:hover {
  background: #eee;
}

/* smaller screens */
@media screen and (max-width: 765px) {
  .categories {
    margin : 0;
  }
}
