/* entire post */
.post,
.fullpost {
  box-shadow: 0 0 3px #777;
  margin: 25px 0;
  overflow: hidden;
}

.fullpost {
  width: 100%;
}

/* post header */
.post-header {
  background: #764abc;
  color: #fff;
  padding: 15px 15px 10px;
  position: relative;
}

.post-header h2,
.post-header h3 {
  margin: 0;
  cursor: pointer;
}

.post-header h3:hover {
  text-shadow: 0 0 5px #1194f4;
}

.main-link-to-post {
  color: #fff;
  text-decoration: none;
}

.post-header p {
  margin: 5px 0;
  font-size: 14px;
}

.post-header-controlls {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.post-header-controlls i {
  margin: 0 5px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}

.post-header-controlls i:hover {
  text-shadow: 0 0 7px #1194f4;
}

/* post body */
.post-body {
  padding: 15px;
  background: #fff;
}

/* post footer */
.post-footer {
  padding: 5px 15px;
  background: #eee;
}

.single-post-footer {
  padding: 5px 15px;
  border: 1px solid #ddd;
  background: #eee;
}

.post-footer-info {
  float: left;
  font-size: 14px;
}

.post-footer-controlls {
  float: right;
}

.control {
  display: inline-block;
  margin: 5px;
}

.control .fa {
  margin: 0 3px;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
}

.fa-thumbs-up {
  color: #1659db;
}

.fa-thumbs-up:hover {
  color: #1194f4;
}

.fa-thumbs-down {
  color: #6e0909;
}

.fa-thumbs-down:hover {
  color: #f03232;
}

.fa-comments {
  color: #764abc;
}

.fa-comments:hover {
  color: #bd3cf1;
}


/* smaller screens */
@media screen and (max-width: 765px) {
  .fullpost {
    margin: 0 0 15px;
  }

  .post-header-controlls {
    position: static;
    display: inline-block;
    margin: 0 0 10px;
    text-align: right;
    float: right;
  }

  .post-header h2,
  .post-header h3 {
    font-size: 20px;
    display: block;
  }

  .post-header-controlls i {
    font-size: 15px;
    margin: 0 6px;
  }

  .post-body {
    font-size: 15px;
  }
}

@media screen and (max-width: 350px) {
  .post {
    margin: 5px 0 10px;
  }

  .post-header {
    padding: 5px;
  }

  .post-header h2,
  .post-header h3 {
    font-size: 17px;
  }

  .post-footer {
    padding: 5px;
    background: #eee;
  }

  .single-post-footer {
    padding: 5px;
  }

  .post-footer-info {
    font-size: 12px;
  }

  .control .fa {
    font-size: 15px;
    margin: 0 2px;
  }
}
